Importing pandas and opening a dataset

In [3]:
from sqlalchemy import create_engine, text
import pandas as pd

engine = create_engine(
    "postgresql+psycopg2://hi5304_user:hi5304@db:5432/hi5304"
)

with engine.connect() as conn:
    print(conn.execute(text("SELECT 1")).scalar())

1

In [4]:
patients = pd.read_sql("SELECT * FROM patients ORDER BY patient_id;", engine)
patients.head()

,patient_id,first_name,last_name,date_of_birth,sex,race,ethnicity,zip_code
0,1001,John,Doe,1968-04-12,M,White,Non-Hispanic,75201
1,1002,Maria,Lopez,1975-09-30,F,Hispanic,Hispanic,75204
2,1003,James,Smith,1982-01-18,M,Black,Non-Hispanic,75080
3,1004,Linda,Chen,1990-06-05,F,Asian,Non-Hispanic,75024
4,1005,Robert,Johnson,1959-11-22,M,White,Non-Hispanic,75230

In [5]:

medications = pd.read_sql("SELECT * FROM medications ORDER BY id;", engine)
medications.head()

,id,patient_id,medication,dose,frequency,date_started,indication
0,1,1001,Lisinopril,10 mg,Once daily,2024-09-01,Hypertension
1,2,1002,Amlodipine,5 mg,Once daily,2024-08-20,Hypertension
2,3,1003,Metoprolol,50 mg,Twice daily,2024-09-10,Hypertension
3,4,1003,Atorvastatin,20 mg,Once daily,2024-09-10,Hyperlipidemia
4,5,1005,Losartan,50 mg,Once daily,2024-09-05,Hypertension

In [6]:
bp = pd.read_sql("SELECT * FROM bp_readings ORDER BY bp_id;", engine)
bp.head()

   bp_id  patient_id reading_date  systolic  diastolic  heart_rate  source
0      1        1001   2024-09-01       148         92          78  Clinic
1      2        1001   2024-10-01       142         88          76    Home
2      3        1001   2024-11-01       136         84          74    Home
3      4        1002   2024-09-15       132         82          70  Clinic
4      5        1002   2024-10-15       128         80          68    Home

In [7]:
query = """
SELECT
  p.patient_id,
  p.first_name,
  p.last_name,
  b.reading_date,
  b.systolic,
  b.diastolic,
  b.heart_rate,
  b.source,
  m.medication,
  m.dose,
  m.frequency
FROM patients p
LEFT JOIN bp_readings b ON p.patient_id = b.patient_id
LEFT JOIN medications m ON p.patient_id = m.patient_id
ORDER BY p.patient_id, b.reading_date;
"""
df = pd.read_sql(query, engine)
df.head(20)

,patient_id,first_name,last_name,reading_date,systolic,diastolic,heart_rate,source,medication,dose,frequency
0,1001,John,Doe,2024-09-01,148,92,78,Clinic,Lisinopril,10 mg,Once daily
1,1001,John,Doe,2024-10-01,142,88,76,Home,Lisinopril,10 mg,Once daily
2,1001,John,Doe,2024-11-01,136,84,74,Home,Lisinopril,10 mg,Once daily
3,1002,Maria,Lopez,2024-09-15,132,82,70,Clinic,Amlodipine,5 mg,Once daily
4,1002,Maria,Lopez,2024-10-15,128,80,68,Home,Amlodipine,5 mg,Once daily
5,1003,James,Smith,2024-09-10,150,96,82,Clinic,Atorvastatin,20 mg,Once daily
6,1003,James,Smith,2024-09-10,150,96,82,Clinic,Metoprolol,50 mg,Twice daily
7,1003,James,Smith,2024-10-10,146,94,80,Home,Atorvastatin,20 mg,Once daily
8,1003,James,Smith,2024-10-10,146,94,80,Home,Metoprolol,50 mg,Twice daily
9,1004,Linda,Chen,2024-09-20,118,76,66,Clinic,None,None,None
10,1005,Robert,Johnson,2024-09-05,140,90,75,Clinic,Losartan,50 mg,Once daily