Importing pandas and opening a dataset

In [ ]:
import pandas as pd

# Load the CSV file
patients = pd.read_csv("../data/patients.csv")

# Preview the data
patients.head()

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

In [ ]:
engine = create_engine(
    "postgresql+psycopg2://hi5304_user:hi5304_password@db:5432/hi5304"
)

In [5]:
patients = pd.read_csv("../data/patients.csv")
patients.head()

,patient_id,first_name,last_name,date_of_birth,sex,race,ethnicity,zip_code
0,1001,John,Doe,4/12/1968,M,White,Non-Hispanic,75201
1,1002,Maria,Lopez,9/30/1975,F,Hispanic,Hispanic,75204
2,1003,James,Smith,1/18/1982,M,Black,Non-Hispanic,75080
3,1004,Linda,Chen,6/5/1990,F,Asian,Non-Hispanic,75024
4,1005,Robert,Johnson,11/22/1959,M,White,Non-Hispanic,75230